.DS_Store
/.build
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.playground/*.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
*/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
